#extension-body {
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    min-height: 450px;
    max-height: 450px;
    height: 450px
}

/*#extension-container {
    margin: 20px;
}*/

h2, h3, h4, h5 {
    text-align: center;
}

.error {
    color: red;
    font-size: 12px;
}

.nugget-title {
    font-family: garamond, serif;
    font-size: 28px;
}

.nugget-messages {
    margin-top: 5px;
    margin-bottom: -5px;
    vertical-align: center;
}

#nugget-message {
    font-weight: 500;
    margin-left: 2px;
}

#nugget-text-count {
    color: gray;
    margin-right: 2px;
}

/*#add-nugget-button {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}*/

.follow-image {
    height: 15px;
    width: 15px;
    margin: 4%;
    vertical-align: middle;
}
